#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/********* navbar *****************/
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #2b7775;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}

nav ul li.active {
  font-weight: bold;
}

.sub-tabs {
  margin-top: 10px;
}

.sub-tabs ul {
  list-style-type: none;
  margin: 0; /* Remove margin to align the sub-tabs properly */
  padding: 0;
}

.tab-content {
  background-color: white;
  margin: 0px;
}

.sub-tabs ul li {
  display: inline-block;
  margin-right: 20px;
}

/******** footer ///////////////*******/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2b7775;
  color: #fff;
  padding: 20px;
  z-index: 9999; /* Ensure footer is above other content */
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-signup {
  display: flex;
  flex-direction: row;
}

.footer-signup h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-signup form {
  display: flex;
  align-items: center;
}

.footer-signup input {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.footer-signup button {
  padding: 8px 20px;
  background-color: #fff;
  color: #2b7775;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer-info {
  margin: 0;
}

/**************** add pet page style ////////////////////*/
.add-pet-form-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #a6cdc3;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto; /* Add scrollbar when content overflows */
  max-height: calc(100vh - 300px); /* Adjust the height */
}

.form-group label,
.form-group input,
.form-group select {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.form-group label {
  color: black;
}
