#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/********* navbar *****************/
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #2b7775;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
}

nav ul li.active {
  font-weight: bold;
}

.sub-tabs {
  margin-top: 10px;
}

.sub-tabs ul {
  list-style-type: none;
  margin: 0; /* Remove margin to align the sub-tabs properly */
  padding: 0;
}

.sub-tabs ul li {
  display: inline-block;
  margin-right: 20px;
}

/******** footer ///////////////*******/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2b7775;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-signup {
  margin-right: 20px;
}

.footer-signup h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-signup form {
  display: flex;
  align-items: center;
}

.footer-signup input {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.footer-signup button {
  padding: 8px 20px;
  background-color: #fff;
  color: #2b7775;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer-info {
  margin: 0;
}

.footer-info p {
  margin: 0;
  font-size: 14px;
}

.footer-sponsors {
  margin-top: 20px;
}

.sponsor-logos {
  display: flex;
  align-items: center;
}

.sponsor-logos img {
  height: 40px;
  margin-right: 10px;
}
